@charset "UTF-8";

*
{

    margin: 0;
    padding: 0;

}

body 
{

    font-family: 'Times New Roman', Times, serif;

}

header
{

    height: 200px;
    width: 100%;
    background-image: url('img/network.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;     

}

div.logo
{

    width: 50%;
    margin: 0% 3%;
    padding-top: 2%;

}

img#logo
{

    height: 120px;      

}

div#title
{

    text-align: center;
    margin-top: 2%;

}

.titles
{

    padding-top: 1%;

}


