@charset "UTF-8";

*
{

    margin: 0;
    padding: 0;

}

body 
{

    font-family: 'Times New Roman', Times, serif;

}

header
{

    height: 200px;
    width: 100%;
    background-image: url('img/network.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;     

}

p#photo
{

    color: white;
    font: bolder;
    text-shadow: 3px 3px 3px black;
    font-size: 1.2rem;
    margin-top: 2%;

}

a.photo
{

    color: white;

}

a.photo:hover
{

    color: red;

}

div.logo
{

    width: 50%;
    margin: 0% 3%;
    padding-top: 2%;    

}

img#logo
{

    height: 120px;        

}

div#title
{

    text-align: center;
    margin-top: 2%;

}

.titles
{

    padding-top: 1%;

}

div#jackson
{

    display: flex;

}

div#leonardo
{

    display: flex;

}

h4.informations
{

    margin: auto;

}

div#server
{

    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 2%;
    padding-top: 0.2%;
    background-color: #776669;
    
}

p.server_paragrath
{

    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 2%;

}

footer
{

    margin-top: 6%;
    width: 100%;
    height: 60px;
    background-color: black;
    color:white;

}

.fab fa-python
{

    height: 600px;
    

}

